---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Nothing">
    <section class="max-w-inner md:mx-auto md:px-30 mx-30">
        <div class="text-center">
            <h1 class="text-32 font-bold font-header">This page is probably not what you're looking for...</h1>
        </div>
    </section>
</Layout>