---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Astro + Payload Test">
	<main class="max-w-inner md:mx-auto md:px-30 mx-30">
		<h1 class="text-32 font-header font-extrabold">Welcome to the site!</h1>
	</main>
</Layout>

<style lang="css">
    [astro-icon] {
        color: black;
		width: 20px;
    }
</style>