---
import Layout from "../../layouts/Layout.astro";

const {event} = Astro.params
---

<Layout title="Event">
    <section class="max-w-inner mx-auto">
        <h1>{event}</h1>
    </section>
    
</Layout>
