---
    const {title, date} = Astro.props;
---
<section>
    <h2 class="text-26">{title}</h2>
    <p class="text-neutral-500">{(new Date(date).toLocaleDateString())}</p>
    <a href={`events/${title}`} class="hover:border-b border-gray-500">Learn More</a>
</section>