---
    const path = Astro.url.pathname
---

<header class="bg-black">
    <section class="md:mx-auto max-w-inner md:px-30 mx-30 py-20">
        <nav class="flex">
            <a href="/" class={(path == "/" ? "border-b border-white" : "") + " hover:border-b hover:border-white text-white font-bold"}>Home</a>
            <a href="/about" class={(path == "/about" ? "border-b border-white" : "") + " ml-20 hover:border-b hover:white text-white font-bold"}>About</a>
            <a href="/events" class={(path == "/events" ? "border-b border-white" : "") + " ml-20 hover:border-b hover:white text-white font-bold"}>Events</a>
            <a href="/resources" class={(path == "/resources" ? "border-b border-white" : "") + " ml-20 hover:border-b hover:white text-white font-bold"}>Resources</a>
        </nav>
    </section>
    
</header>